html{
    height:100%;
/*    background: radial-gradient(circle,white,grey);*/
    background-image: url(images/numbers.jpg);
}
#intro{
    font-family: fantasy;
    font-size:40px;
    text-align: center;
    margin-bottom: none;
    color: red;
}
#container{
    width:1000px;
    height:600px;
    position: relative;
    left:150px;
     
}
  

div#play a:hover{
    color:orange;
    text-decoration: none;
}
.common{
    height: 300px;
    width:400px;
    background-image:url(https://img.freepik.com/free-vector/coloured-numbers_1263-69.jpg?size=338&ext=jpg);
/*    background-color:rgba( 17, 197, 11, 0.633 );*/
    position:absolute;
/*    padding-top: 20px;*/
    
}

#arithmetic{
    top:100px;
    left:105px;
    transition: all 0.15s;
    
}
#arithmetic:hover{
    box-shadow: -3px 3px 5px black;
}
#comparison{
/*    display: none;*/
    top:100px;
    left:510px;
    transition: all 0.15s;
    background-image: url(images/numbers2.jpg) ;
}
#comparison:hover{
    box-shadow: 3px 3px 5px black;
}
#numbergame{
/*    display: none;*/
    top:305px;
    left:295px;
    transition: all 0.2s;
}
#numbergame:hover{
    box-shadow: 3px 3px 5px black;
}
#image1{
    float: right;
    margin-top: 10px;
}
.name{
    font-family: cursive;
    font-size:35px;
    text-align: center;
    color:rgba( 7, 4, 169, 0.867 );
    background-color: antiquewhite;
    background-color: antiquewhite;
}
#play{
    
    width:150px;
    height:45px;
    font-size: 25px;
    background-color: rgba( 144, 154, 3, 0.867 );
    font-family: fantasy;

    margin-left: 100px;
    margin-top: 30px;
    line-height: 40px;
    

    
    
}
#play:hover{
    box-shadow: 4px 4px 6px black;
}